
.row {
  margin-right: 0px !important;
}
.header {
  width: 100%;
  background-color: #70B9FC;
  padding-top: 25px;
  padding-bottom: 10px;
}

.header ul {
  background-color: transparent;
}

.header ul li {
   list-style-type: none;
   display: inline-block;
   padding: 10px;
   padding-left: 20px;
   padding-right: 20px;
   cursor: pointer;
   color: white;
}

a {
  color: white !important;
}

.header ul li:first-child {
  padding-right: 100px;
}

.theServices h3 {
  font-weight: bold;
  font-size: 40px;
  padding-top: 20px;
}

.theServices h3:first-child {
  color: white;
  font-size: 25px;
}

.theServices {
  width: 55%;
  position: absolute;
  top: 60px;
  left: 40px;
  background-color: transparent;
  z-index: 2;
}

.theServices p {
  color: black;
  padding: 15px;
  padding-left: 0px;
  text-align: justify;
  text-justify: inter-word;
}

.aboutServices img {
  padding-top: 10px;
  right: 40px;
  top: 120px;
  position: absolute;
  z-index: 1;
  width: 40%;
}

.aboutServices {
  padding-bottom: 70px;
  width: 100%;
  position: static;
}

.lastSection {
  margin-top: 300px;
}

.remainingP {
  margin-top: 380px;
  /* padding-bottom: 50px; */
}

.remainingP p {
  padding: 40px;
  color: black;
  text-align: justify;
  position: relative;
  z-index: 2;
  margin-bottom: 0px;
}

.movingIcons {
  background-color: #FFF8F8;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap !important;
  width: 100%;
}

.movingIcons div {
   width: 250px;
   /* height: 250px; */
   margin-right: 20px;
   margin-left: 20px;
   margin-top: 20px;
   /* border: 1px solid black; */
}

.movingIcons div img {
  margin-left: 25%;
}

.movingIcons div p {
  text-align: center;
  font-weight: bold;
}

body {
  background-color: #70B9FC !important;
}

.carousel-inner {
  /* height: 1050px; */
  height: 800px;
}




.carousel-item {
  /* padding-top: 0px !important; */
}

#thirdCustomSlider {
  margin-top: 100px;
  height: 0px;
}


@media screen and (max-width: 360px) {
  .remainingP p {
    padding: 15px;
  }

  .theServices h3 {
    font-size: 20px;
  }

  .theServices {
    left: 20px;
  }

  .aboutServices img {
    top: 50px;
  }

  .theServices {
    top: 20px;
    left: 15px;
  }

  .aboutServices img {
    right: 15px;
  }


  .carousel-inner {
    height: 1050px;
    /* height: 900px; */
  }

  .lastSection {
    margin-top: 870px !important;
  }

}

@media screen and (max-width: 671px) and (min-width: 360px) {
  .remainingP p {
    padding: 15px;
  }

  .theServices h3 {
    font-size: 20px;
  }

  .theAbout {
    left: 20px;
  }

  .aboutServices img {
    right: 15px;
  }

  .remainingP {

  }

  .theServices {
    left: 15px;
  }


  .lastSection {
    margin-top: 510px;
  }

  .carousel-inner {
    /* height: 1050px; */
    /* height: 800px; */
  }


}
